.background {
  background: linear-gradient(#333, black);
  height: 500px;
}

.container {
  composes: container from './../../main.scss';
}

.heading {
  composes: heading from './../../main.scss';
  color: white;
}
