$top-offset: 100px;

header {
  width: 100%;
  position: fixed;
  color: #eee;
  h1 {
    margin: 0 0 0 50px;
  }
}

.underlay {
  height: $top-offset;
  background: #000;
  opacity: 0;
}

.overlay {
  top: $top-offset / 3;
}

.content-wrapper {
  padding-top: $top-offset;
  height: 1000px;
}

.image-wrapper {
  background-size: 100%;
  // padding-top: $top-offset;
  background-image: url(img/background.jpg);
  height: 500px;
}
