$top-offset: 100px;

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  color: #fff;
}

#menu {
  a, a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.50, 0.95);
  }

  a:hover {
    color: #888;
  }

  .underlay {
    height: $top-offset;
    background: #000;
    opacity: 0;
  }

  .overlay {
    height: $top-offset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name {
      font-size: 3em;
      margin: 0 0 0 10%;
    }
  }

  .nav {
    width: 40%;
    li {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      display: inline;
      margin: 0 7%;
    }
  }
}

.content-wrapper {
  padding-top: $top-offset;
  height: 1000px;
}

.image-wrapper {
  background-size: 100%;
  background-image: url(img/background.jpg);
  height: 500px;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 4em;
    display: block;
  }
}

.line {
  border-radius: 5px;
  margin: 50px;
  height: 2px;
  width: 5%;
  background: #fff;
}
