.background {
  background: linear-gradient(#333, black);
  height: 50px;
}

.text {
  color: gray;
  line-height: 50px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: center;

  a, a:visited {
    color: gray;
  }
}
