@import 'core';

.background {
  background: linear-gradient(#333, black);
  padding-bottom: 40px;
}

.skills {
  margin: 0 10%;

  @include break-max($grid-width-md) {
    margin: 0;
  }
}

.heading {
  color: white;
}
