.background {
  background-color: #222;
  height: 500px;
}

.skills {
  margin: 0 10%;
}

.container {
  composes: container from './../../main.scss';
}

.heading {
  composes: heading from './../../main.scss';
  color: white;
}
