$skill-height: 30px;
$border-radius: 5px;

$font-padding: 12px;

@mixin font() {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: #{$skill-height + 1};
  font-size: 15px;
}

.skillName {
  @include font()
  position: absolute;
  padding-left: $font-padding;
}

.skill {
  height: $skill-height;
  background-color: #666;
  margin: 25px 0;
  border-radius: $border-radius;
}

.bar {
  height: $skill-height;
  width: 0%;
  transition: width ease-in-out .7s;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.percent {
  @include font()
  position: relative;
  float: right;
  padding-right: $font-padding;
}
