$image-size: 300px;
$image-margin: 60px;


.container {
  composes: container from './../../main.scss';
  height: 450px;
}

.heading {
  composes: heading from './../../main.scss';
}

.image {
  height: $image-size;
  border-radius: 100%;
  float: left;
  margin-right: $image-margin;
}

.text {
  font-size: 1.3em;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.text::first-letter {
  font-size: 1.3em;
  font-weight: 500;
}

.icons {
  padding-top: 20px;
  position: relative;
  right: ($image-size + $image-margin) / 2;
  text-align: center;
}

.icon {
  height: 50px;
  margin: 0 35px;
}
