@import 'core';

$transform: perspective(100px) translate3d(-30px, 20px, 25px) rotate(0.01deg);

.background {
  height: 500px;
  position: relative;
  color: #fff;
  overflow: hidden;
  display: block;
}

.text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 150px;

  @include break-max($grid-width-md) {
    top: 110px;
  }

  h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 3.5em;
  }
}

.image {
  width: 100%;
  height: 500px;
  min-width: 1400px;
  animation: bgzoom 20s ease-out;
  transform: $transform;
}

.line {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 50px;
  height: 2px;
  width: 5%;
  background: #fff;
}

@keyframes bgzoom {
  from {transform: perspective(100px) translate3d(0px, 0px, 8px) rotate(0.01deg);}
  to {transform: $transform;}
}
