$project-height: 200px;

.project {
  width: 100%;
  height: $project-height;
  display: block;
  overflow: hidden;
  margin: 2em 0;

  a, a:visited {
    text-decoration: none;
    color: black;
  }

  img {
    height: $project-height;
    width: $project-height;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.50, 0.95);
    float: left;
  }

  .content {
    height: $project-height;
    width: calc(100% - #{$project-height});
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: grey;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 25px;
  }

  .description {
    text-align: center;

    position: relative;
    background-color: #ddd;
    top: -6px;
    padding: 10px 0;
    margin: 0;
    z-index: 998;
  }
}

.textContainer, .buttonContainer {
  transition: transform cubic-bezier(0, 0.77, 0, 1.01) 0.6s;
}

.textContainer {
  transform: translateX(-100%);
}

.buttonContainer {
  width: 100%;
  position: absolute;
  padding: 30px;
  transform: translateX(100%);
}

.buttonGroup {
  position: absolute;
  right: 100px;

  a {
    display: inline-block;
    width: 90px;
    background: red;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 8px;
    padding: 9px;
    border-radius: 4px;
  }
}

.project:hover img {
  transform: scale(1.2);
}

.project.active {
  .textContainer {
    transform: translate(0);
  }

  .buttonContainer {
    transform: translate(0);
  }
}
