:global {

  .grid {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
  }

  .col {
    float: left;
    overflow: hidden;
    min-height: 1px;
    padding: 30px;
  }

  .col_12 {
    width: 100%;
  }
}
