@import 'core';

* {
  box-sizing: border-box;
}

section {
  padding-top: 30px;
}

div {
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  text-align: center;
  font-size: 3.2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 2.2em;
}

.grid {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
  position: relative;

  @include break-max($grid-width-lg) {
    width: $grid-width-md;
  }

  @include break-max($grid-width-md) {
    width: 100%;
    padding: 0 30px;
  }
}

.col {
  position: relative;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding: 30px;
}

.col-12 {
  width: 100%;
}

a {
  box-sizing: border-box;
}

.hide-md {
  @include break-max($grid-width-md) {
    display: none !important;
  }
}

.show-md {
  display: none !important;
  @include break-max($grid-width-md) {
    display: initial !important;
  }
}

button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
